<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Analysis Results</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles-analysis.css') }}">
</head>
<body>
    <div class="container">
        <h1>All Analysis</h1>
        <div class="plots-container">
            {% for plot_name, plot_data in plot_paths.items() %}
                <div class="plot-item">
                    <h2 class="plot-name">{{ plot_name }}</h2>
                    <img src="data:image/png;base64,{{ plot_data }}" alt="{{ plot_name }}">
                </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
