<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twitter Analysis GUI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <div class="main-content">
            <h2>Main Content</h2>
            <textarea id="input-textbox" class="textbox" name="input_text" placeholder="Enter text here..."></textarea>
            <div class="button-container">
                <form id="csv-form" action="/csv" method="get">
                    <input type="hidden" name="input_text" id="csv-input_text" value="">
                    <button class="button" type="submit" onclick="updateInputText('csv')">CSV</button>
                </form>
                <form id="api-form" action="/api" method="get">
                    <input type="hidden" name="input_text" id="api-input_text" value="">
                    <button class="button" type="submit" onclick="updateInputText('api')">API</button>
                </form>
            </div>
            <br>
            <br>
            <form id="all-analysis-form" action="/all-analysis">
                <button class="button" type="submit" name="destination" value="all_analysis">All Analysis</button>
            </form>
        </div>
    </div>

    <script>
        function updateInputText(destination) {
            var inputText = document.getElementById("input-textbox").value;
            document.getElementById(destination + "-input_text").value = inputText;
        }
    </script>
</body>
</html>
